$font-size: 0.75rem;
$font-size-xxl: 3rem;
$font-size-xl: 2rem;
$font-size-large: 1rem;
$font-size-medium: 0.75rem;
$font-size-small: 0.50rem;

$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$light-dark: #6c757d;
$light-blue: #009BD6;
$light-green: #4CC790;
$font-family: "Open Sans", sans-serif;
